body {
  background-image: url(../../../assets/images/sign-in-background.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.sign-in {
  padding: 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
}

.form {
  margin: 10px 50px;
}

.vert-offset-top-3{
  margin-top: 38vh;
}

.form-group input {
  float: right;
  width: 60%;
}


.alert {
  margin-top: 1px;
  margin-bottom: 0;
}
