<!DOCTYPE html>
<html>
  <body>
    <div class="container">
      <div class="row">
        <div class="offset-3 col-5 vert-offset-top-3 ">
        <div class="sign-in">
          <form name="signinForm" [formGroup]="signinForm" (ngSubmit)=onSubmit()>
            <div class="form-group">
              <label for="email" class="col-form-label">Email</label>
              <input
                id="email"
                class="form-control"
                [formControl]="emailCtrl"
              >
            </div>
            <div class="form-group">
              <label for="password" class="col-form-label">Hasło</label>
              <input
                type="password"
                id="password"
                formControlName="password"
                [formControl]="passwordCtrl"
                class="form-control">
            </div>
            <div class="form-group">
              <div class="text-center">
                <button class="btn btn-primary" type="submit" [disabled]="!signinForm.valid">Zaloguj się</button>
              </div>
            </div>
          </form>
          <a routerLink="/clients">clients</a>
        </div>

        <div class="error-messages">
          <div *ngIf="emailCtrl.invalid && emailCtrl.touched" class="alert alert-danger">
            <div *ngIf="emailCtrl.errors['required']">
              Email wymagany
            </div>
            <div *ngIf="emailCtrl.errors['minlength']">
              Email musi składać się z przynajmniej 6 znaków
            </div>
            <div *ngIf="emailCtrl.errors['maxlength']">
              Email nie może być dłuższy niż 100 znaków
            </div>
          </div>
          <div *ngIf="passwordCtrl.invalid && passwordCtrl.touched" class="alert alert-danger">
            <div *ngIf="passwordCtrl.errors['required']">
              Hasło wymagane
            </div>
            <div *ngIf="passwordCtrl.errors['minlength']">
              Hasło musi składać się z przynajmniej 6 znaków
            </div>
            <div *ngIf="passwordCtrl.errors['maxlength']">
              Hasło nie może być dłuższe niż 100 znaków
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>


